---
import Breadcrumbs from "@components/Breadcrumbs.astro";

interface StringTitleProp {
  pageTitle: string;
  pageDesc?: string;
}

interface ArrayTitleProp {
  pageTitle: [string, string];
  titleTransition: string;
  pageDesc?: string;
}

export type Props = StringTitleProp | ArrayTitleProp;

const { props } = Astro;
---

<Breadcrumbs />
<main id="main-content">
  {
    "titleTransition" in props ? (
      <h1>
        {props.pageTitle[0]}
        <span transition:name={props.titleTransition}>
          {props.pageTitle[1]}
        </span>
      </h1>
    ) : (
      <h1>{props.pageTitle}</h1>
    )
  }
  <p>{props.pageDesc}</p>
  <slot />
</main>

<style>
  #main-content {
    padding-left: 1rem;
    padding-right: 1rem; 
    width: 100%; 
    max-width: 48rem; 
  }
  
  #main-content h1 {
    font-size: min(1.875rem, max(1.5rem, calc(1.5rem + ((100vw - 320px) * 0.00625))));
    line-height: min(2.25rem, max(2rem, calc(2rem + ((100vw - 320px) * 0.00391))));
    font-weight: 600;
  }

  #main-content p {
    margin-top: 0.5rem; 
    margin-bottom: 1.5rem; 
    font-style: italic; 
  }
</style>
